name: Rust CI Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup cache
        uses: ./.github/actions/setup-cache-action

      - if: matrix.os == 'ubuntu-latest'
        name: [Ubuntu] Install platform dependencies
        run: sudo apt install -y libasound2-dev

      - name: Compile project
        run: cargo build

  test:
    # This job is currently disabled because it requires the FMOD libraries to be present.
    # We will revisit this once we actually have any tests.

    if: false

    needs: build

    strategy:
      fail-fast: true
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup cache
        uses: ./.github/actions/setup-cache-action

      - if: matrix.os == 'ubuntu-latest'
        name: [Ubuntu] Install platform dependencies
        run: sudo apt install -y libasound2-dev libudev-dev

      - name: Execute tests
        run: cargo test

  lint:
    needs: build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup cache
        uses: ./.github/actions/setup-cache-action

      - name: Lint with clippy
        run: cargo clippy -- -D warnings
