name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  # Use the same Rust toolchain across jobs so they can share a cache.
  toolchain: nightly-2026-01-22

jobs:
  # Run clippy lints.
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: clippy, rustc-codegen-cranelift-preview
          toolchain: ${{ env.toolchain }}

      - name: Active CI cargo config
        run: mv .cargo/config_ci.toml .cargo/config.toml

      - name: Install cargo binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Wild
        run: cargo binstall wild-linker --locked --force

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev

      - name: Populate target directory from cache
        uses: Swatinem/rust-cache@v2
        with:
          save-if: false
          shared-key: lints

      - name: Run clippy lints
        run: cargo clippy --locked --workspace --all-targets -- --deny warnings

  # Check formatting.
  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{ env.toolchain }}

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  # Check documentation.
  doc:
    name: Docs
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustc-codegen-cranelift-preview
          toolchain: ${{ env.toolchain }}

      - name: Active CI cargo config
        run: mv .cargo/config_ci.toml .cargo/config.toml

      - name: Install cargo binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Wild
        run: cargo binstall wild-linker --locked --force

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev

      - name: Populate target directory from cache
        uses: Swatinem/rust-cache@v2
        with:
          save-if: false
          shared-key: lints

      - name: Check documentation
        run: cargo doc --locked --workspace --document-private-items --no-deps

  # Run Bevy lints.
  bevy-lint:
    name: Bevy linter
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustc-codegen-cranelift-preview, rustc-dev, llvm-tools-preview
          toolchain: ${{ env.toolchain }}

      - name: Install dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev

      - name: Populate target directory from cache
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          shared-key: lints

      - name: Install Bevy linter
        run: cargo install --git=https://github.com/TheBevyFlock/bevy_cli --locked bevy_lint --all-features

      - name: Add cranelift to rustc
        run: rustup component add rustc-codegen-cranelift-preview --toolchain ${{ env.toolchain }}

      - name: Active CI cargo config
        run: mv .cargo/config_ci.toml .cargo/config.toml

      - name: Install cargo binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Wild
        run: cargo binstall wild-linker --locked --force

      - name: Run Bevy linter
        run: bevy_lint --locked --workspace --all-targets
